h2 {
    color: crimson;
    background-color: black;

}

h3{
    color: blueviolet ;

}

p{
    color:green;   
   
}

#myparagraph{
    color: black;

}

.firstdiv{
    background-color: greenyellow;
}
div{

    background-color: black;
}

span{
    background-color: chocolate;

}
h1{
    color: white;
}
h4{
    color:crimson
}

#secondparagraph{

    color: aliceblue;
}

.seconddiv{
    background-color: pink ;
}